// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Repairs {
    background-color: #FF2521;
    opacity: 0.5;
}

.Maintenance {
    background-color: #4555E8;
    opacity: 0.5;
}

.Notes {
    background-color: #5EE858;
    opacity: 0.5;
}