<div class="well col-md-8 col-md-offset-2">
    
    <div class="col-md-12">
        <% @instruments.each do |instrument| %>
            <div>
               <%= link_to instrument.name, instrument %>
            </div>
        <%end%>
    </div>    
</div>
